
@{
    ViewBag.Title = "Lucene";
}
@section Title
{
    <h1 class="text-center">
        Lucene
    </h1>
    <p style="margin-top: 50px;">
        Lucene是一个开放源代码的全文检索引擎工具包，提供了完整的查询引擎和索引引擎。Lucene的目的是为软件开发人员提供一个简单易用的工具包，以方便的在目标系统中实现全文检索的功能，或者是以此为基础建立起完整的全文检索引擎。
    </p>
}