
@{
    ViewBag.Title = "Technology Madman";
}


<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Technology Madman</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a>Java</a></li>
                <li><a>PHP</a></li>
                <li><a>C#</a></li>
                <li><a>Redis</a></li>
                <li><a>Lucene</a></li>
                <li><a>Linux</a></li>
                <li><a>Windows</a></li>
                <li><a>Linux</a></li>
            </ul>
        </div>
    </div>
</nav>