
@{
    ViewBag.Title = "PHP";
}

@section Title
{
    <h1 class="text-center">
        PHP <small>Hypertext Preprocessor</small>
    </h1>
    <p style="margin-top: 50px;">
        PHP是一种通用开源脚本语言。语法吸收了C语言、Java和Perl的特点，利于学习，使用广泛，主要适用于Web开发领域。PHP 独特的语法混合了C、Java、Perl以及PHP自创的语法。它可以比CGI或者Perl更快速地执行动态网页。
    </p>
}


